*{
margin:0;
padding:0;
font-family:sans-serif;
}

.container{
width:100%;
height:100%;
background-image:url("bmsce.jpg");
background-repeat:no-repeat;
background-size:cover;
}
.menu ul{
display:inline-flex;
margin:50px;
}
.menu ul li{
list-style:none;
margin:0 20px;
color:black;
cursor:pointer;
font-weight:bold;
float:left;
}
.active{
color:#19dafa !important;
}
.signup-btn{
top:46px;
right:160px;
position:absolute;
text-decoration:none;
color:red;
border-radius:20px;
background-origine:border-box;
background-clip:content-box,border-box;

}
.signup input{
width:50%;
margin-bottom:20px;
}
.singup-btn span{
display:block;
padding:8px 22px;
}
.login-btn{
top:40px;
right:70px;
position:absolute;
text-decoration:none;
color:red;
border:2px solid transperent;
border-radius:20px;
}
.login-btn span{
display:block;
padding:8px 22px;
}
.banner{
width:80%;
height:70%;
top:50%;
left:130px;
position:absolute;
color:#f0ffff;
}
.app-text p{
width:650;
font-size:15px;
margine:30px 0 30px 40px;
line-lenght:30px;
color: #FFB6C1;
}
.app-picture{
width:50%;
float:right;
}
.app-picture img{
width:100%;
margine-top:-20px;
padding-left:50%;
}
